.container
  .page-header
    %h1
      Editing Trick
      %small= @trick.name

  = render 'form'

  %hr

  = link_to 'Show', @trick, class: 'btn btn-primary'
  = link_to 'Back', tricks_path, class: 'btn btn-default'
