.container
  %h1= @trick.name

  - @trick.questions.find_each do |q|
    %p= raw q.to_html


  - if admin_signed_in?
    = link_to 'Edit', edit_trick_path(@trick), class: 'btn btn-success'
    = link_to 'Back', tricks_path, class: 'btn btn-default'
