.container

  %h2 About
  %p Number Sensei was created to make math a little less boring.

  %br
  %br

  %table.table
    %tr
      %td Number of challenges
      %td= Challenge.count
    %tr
      %td Number of tricks
      %td= Trick.count
    %tr
      %td Number of questions
      %td= Question.count
