.container.jumbotron
  .page-header
    %h1
      Number Sensei
      %small BETA

  .row
    .col-lg-3.col-lg-offset-2
      %a.btn-block.btn.btn-primary.btn-lg.gargantuan{href: dojo_path}
        The Dojo

    .col-lg-3
      %a.btn-block.btn.btn-primary.btn-lg.gargantuan{href: downloads_path}
        Downloads
.hidden
  %a{href: 'https://plus.google.com/110141026308030820854', rel: 'publisher'}
    Google+
