.home
  %h1#centerfold.center
    Number Sensei
    %small BETA


  %a.gargantuan{href: learn_path}
    .row.green
      %hr
      %h1
        %i.icon-book
        Tricks
      -#%h3.pretty.center
      -#  Learn and master strategies
      %hr


  %a.gargantuan{href: challenges_path}
    .row.blue
      %hr
      %h1
        %i.icon-trophy
        Challenges
      -#%h3.pretty.center
      -#  Prove yourself
      %hr


  - if admin_signed_in?
    %a.gargantuan{href: games_path}
      .row.brown
        %hr
        %h1
          %i.icon-download-alt
          Games
        %hr
    %a.gargantuan{href: dojo_path}
      .row.purple
        %hr
        %h1
          %i.icon-home
          The Dojo
        %hr


  .hidden
    %a{href: 'https://plus.google.com/110141026308030820854', rel: 'publisher'}
      Google+
