%h1#centerfold.center
  Number Sensei
  %small BETA


%a.gargantuan{href: learn_path}
  .row.green
    %h1
      %i.icon-book
      Training Grounds
    %h2.pretty.center
      learn new tricks, master old tricks

%a.gargantuan{href: challenges_path}
  .row.gold
    %h1
      %i.icon-trophy
      Challenges
    %h2.pretty.center
      test your might, prove your worth

%a.gargantuan{href: download_path}
  .row.purple
    %h1
      %i.icon-download-alt
      Downloads
    %h2.pretty
      here be dragons

%a.gargantuan{href: dojo_path}
  .row.blue
    %h1
      %i.icon-home
      The Dojo
    %h2.pretty
      senseis and pupils


.hidden
  %a{href: 'https://plus.google.com/110141026308030820854', rel: 'publisher'}
    Google+
