%hr

.row
  .span3
    %a.big-butt.btn.btn-primary.btn-large
      Learn
  .span9
    .well
      A random trick, just for you


%hr


.row
  .span3
    %a.big-butt.btn.btn-primary.btn-large
      Play
  .span9
    .well
      Challenge of the Day


%hr


.row
  .span3
    %a.big-butt.btn.btn-primary.btn-large
      Discover
  .span9
    .well
      = link_to 'Recent official challenges', '/official_challenges/'



%h3 Home
- @users.each do |user|
  %p
    User: #{link_to user.name, user}
