.container.jumbotron

  %h1
    Number Sensei
  %p
    We are in beta testing, so nothing is permanent.

  -#.row
  -#  .col-lg-8.col-lg-offset-2
  -#    %a.btn-block.btn.btn-primary.btn-lg.big-button
  -#      Play
  -#
  -#%hr
  -#
  -#.row
  -#  .col-lg-8.col-lg-offset-2
  -#    %a.btn-block.btn.btn-primary.btn-lg.big-button
  -#      Learn

  %hr

  .row
    .col-lg-8.col-lg-offset-2
      %a.btn-block.btn.btn-primary.btn-lg.big-button{href: '/downloads'}
        Downloads

