%h1#centerfold.center
  Number Sensei
  %small BETA


%a.gargantuan{href: dojo_path}
  .row.green
    %h1
      %i.icon-book
      The Dojo
    %h2.pretty.center
      learn new tricks, master old tricks

%a.gargantuan{href: downloads_path}
  .row.purple
    %h1
      %i.icon-download-alt
      Downloads
    %h2.pretty
      here be dragons


.hidden
  %a{href: 'https://plus.google.com/110141026308030820854', rel: 'publisher'}
    Google+
