/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$default_background_color: #eee;

// this is the side error messages in simple_form
.help-inline {
  color: #c09853;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}

.content {
  background-color: $default_background_color;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.round-corners {
  box-shadow: 4px 4px 4px #888888;

  //background-color: #589e00;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;

  border: grey solid 2px;

  margin-bottom: 8px;
  padding: 4px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  text-align: center;
  float: none;
}

.center-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.question {
  font-size: 1.4em;
}

.wrong {
  color: red;
}

.correct {
  color: green;
}
