
.home a:hover,
.home a:focus {
  color: white;
  text-decoration: none;
}
.home a {
  color: #cdf7ff;
  text-decoration: none;
}

.home body,
.home h1,
.home h2 {
  font-family: 'Rum Raisin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.gargantuan {
  text-align: center;
  font-size: 2.1em;
  padding-top: 20px;
  padding-bottom: 60px;
}

#centerfold {
  font-size: 5.0em;
}


.pretty {
  font-family: 'Rum Raisin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #95b4bc;
}

.gold {
  background-color: #daab16;
}

.maroon {
  background-color: #470000;
}

.green {
  background-color: #005000;
}

.purple {
  background-color: #31104e;
}

.blue {
  background-color: #0c0841;
}
