
.home a:hover,
.home a:focus,
.home a:visited {
  text-decoration: underline;
}
.home a {
  color: #cdf7ff;
  text-decoration: none;
}

.home body,
.home h1,
.home h2 {
  font-family: 'Rum Raisin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: inherit;
}


.gargantuan {
  text-align: center;
  font-size: 2.1em;
  padding-top: 20px;
  padding-bottom: 60px;
}

#centerfold {
  font-size: 5.0em;
}

